

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	background-color: black;
}

/*=====images======*/
img {
	float: left;
	max-width: 100%;
	display: block;
	height: auto;
}



.imageMates {
	padding: 0 10px 0 10px;
}

/*=======NAVIGATION===========*/
#main-nav {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 35px;
	background-color: black;
	font-family: 'Calligraffitti', cursive;
	text-align: center;
	position: fixed;
	
}

#main-nav ul {
	list-style-type: none;
}

#main-nav li {
	display: inline;
	padding: 75px 75px 75px 75px;

}

#main-nav a {
	text-decoration: none;
	color: white;
	
}

#main-nav a:hover {
	color: #d414b1;
}

/*========HOME PAGE========*/

.parallax {
  	background-image: url("images/kate-and-tom2bw1.jpg");	
  	height: 100%;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.parallax2 {
    height: 100px;
    padding: 250px;    
}

.parallax3 {
	opacity: 0.6 ;
	font-family: 'Calligraffitti', cursive;
	font-size: 50px; 
	color: #d414b1;
    text-align: center;	
}

#parallaximage {
	width: 50px;
	height: 30px;
}

/*========LAYOUTS========*/

/*=========WEDDING=======*/

.rsvpdets {
	color: black;
	text-align: center;
	padding: 10px 10px 10px 10px;
	font-family: 'Calligraffitti', cursive;
	color: #d414b1;
	font-size: 22px;
}

#rsvp,
#rsvpwhen,
#rsvpwhere,
#rsvpreg {
	//background-color: lightgrey;
	//color: black;
}



/*=====WEDDING PARTY====*/
div.imagebox {
	margin: 20px 0 20px 0;
	background-color: rgba(204, 188, 201, 0.2);
}

.imageParty {
	padding: 20px 10px 50px 10px;
}

.imagePartyLinks {
	text-decoration: none;
	color: #4343d3;
	font-size: 12px;
}


#b1,
#b2,
#b3,
#g1,
#g2,
#g3 {
	width: 33%;
	display: inline-block;
	text-align: left;
}

#name {
	font-size: 26px;
	font-family: 'Calligraffitti', cursive;
	color: #d414b1;
	text-align: left;
}

/*=====OUR STORY====*/
h1 {
	padding-top: 50px;
	padding-left: 20px;
	font-family: 'Calligraffitti', cursive;
	color: #d414b1;
}

p {
	text-align: justify;
	color: white;
}


#katie,
#tom {
	width: 45%;
	background-color: rgba(204, 188, 201, 0.2);
	display: inline-block;
	padding: 20px 10px 10px 10px;
	margin-top: 10px;
}


#ourstorypara {
	width: 100%;
	height: 300px;
	padding: 0 10px 10px 10px;
	margin-top: 80px;
	margin-bottom: 80px;
	font-family: 'Calligraffitti', cursive;	
	background-color: black;
	color: white;
	text-align: left;
}



.ourstorybox {
	width: 100%;
	height: 400px;
	text-align: center;
	font-family: 'Calligraffitti', cursive;
}

.ourstorypics {
	width: 100%;
	text-align: center;
	display: inline-block;
	background-color: black;
	padding-top: 10px;
	margin-top: 180px;
	color: white;
}

#ourstorypics1,
#ourstorypics2,
#ourstorypics3,
#ourstorypics4,
#ourstorypics5 {
	padding: 15px 30px 15px 50px;
	display: inline-block;
	text-align: center;
}


.imagebox {
	width: 100%;
	height: 300px;
	text-align: center;
	background-color: #ccbcc9;
}


/*=====FOOTER======*/
#main-footer {
	padding-top: 10px;
	margin: 0;
	width: 100%;
	height: 30px;
	font-family: 'Calligraffitti', cursive;
	text-align: left;
	text-size: 8px;
	color: grey;
	clear: both;
	
}
/*=====Media Quieries======*/