body {
	background-color: pink;
}

/*=======NAVIGATION===========*/
#main-nav {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100px;
	background-color: grey;
	text-align: center;
	
}

#main-nav ul {
	list-style-type: none;
}

#main-nav li {
	display: inline;
	padding: 75px 75px 75px 75px;

}

#main-nav a {
	text-decoration: none;
	color: yellow;
}

#main-nav a:hover {
	color: white;
	background-color: black;
}


/*=====images======*/
img {
	max-width: 100%;
	display: block;
	height: auto;
}

#b1,
#b2,
#b3,
#g1,
#g2,
#g3 {
	width: 33%;
	background-color: purple;
	display: inline-block;
	//padding: 10px 10px 10px 10px;
}

.imagebox {
	width: 100%;
	height: 300px;
	text-align: center;
	background-color: black;
}


/*=====FOOTER======*/
#main-footer {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100px;
	background-color: grey;
	text-align: center;
	color: yellow;
	clear: both;
	
}
/*=====Media Quieries======*/